################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/AbbBackup/FileContentIndex/b1f767ca-77b5-4b4a-b2bc-e0563acd186f.vsidx

/.vs/AbbBackup/FileContentIndex/70076aec-8e43-4c53-a1f9-cbdf93df7156.vsidx
