################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/AbbBackup/FileContentIndex/b1f767ca-77b5-4b4a-b2bc-e0563acd186f.vsidx
/AbbBackup.csproj
